{%- for post in collections.featured -%}
   <picture>
      <!-- Mobile image -->
      <source media="(max-width: 600px)" srcset="{{ post.data.imgSrc }}"/>
      <!-- Desktop image -->
      <source media="(min-width: 601px)" srcset="{{ post.data.imgSrc }}"/>

      <!-- Fallback image -->
      <img src="{{ post.data.imgSrc }}" alt="{{ post.data.imgAlt }}" aria-hidden="true" decoding="async" width="" height="" loading="eager">
   </picture>

   <div class="post-details">
      <h3>{{ post.data.title }}</h3>
      <p>{{ post.data.description }}</p>
      <a href="{{ post.url }}">Continue reading</a>
   </div>

{%- endfor -%}