<footer>
   <div class="container">

      <div class="company-info">
        
        <a href="/" aria-label="back to home">
          <img src="/assets/svgs/construct.svg" alt="logo" aria-hidden="true" decoding="async" width="80" height="80" loading="lazy">
        </a>

      </div>

      {# can add contact info here* #}

    
      <!-- site links -->
        <div class="sitemap">
            <h3>Sitemap</h3>

            <div>
               <ul>
                   {% set navPages = collections.all | eleventyNavigation %}
                   <!-- Loop through all pages with a eleventyNavigation in the frontmatter -->
                   {% for entry in navPages %}

                       <li>
                           <a href="{{entry.url}}" class="{% if entry.url == page.url %} cs-active {% endif %}">{{entry.key}}</a>
                       </li>

                   {% endfor %}
               </ul>

            </div>
        </div>

        <div class="support-links">
           <h3>Support</h3>
            <ul>
                <li><a href="#">Faq</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul> 
        </div>


      <div class="social-links">
          <a href="#" aria-label="social link">
           <img src="/assets/svgs/logo-facebook.svg" alt="facebook icon" aria-hidden="true" decoding="async" width="25" height="25">
          </a>
          <a href="#" aria-label="social link">
           <img src="/assets/svgs/logo-twitter.svg" alt="twitter icon" aria-hidden="true" decoding="async" width="25" height="25">
          </a>
          <a href="#" aria-label="social link">
           <img src="/assets/svgs/logo-instagram.svg" alt="instagram icon" aria-hidden="true" decoding="async" width="25" height="25">
          </a>    
      </div>

   </div>

</footer>