<header id="cs-navigation">

  {# logo here #}
  <a href="/" aria-label="back to home">
  <img src="/assets/svgs/construct.svg" alt="logo" aria-hidden="true" decoding="async" width="40" height="40">
  </a>

  <!-- Dark mode toggle -->
      <div class="toggle-container">
         <button id="theme-toggle" aria-label="theme toggle">
              <img src="/assets/svgs/light_mode.svg" alt="theme" aria-hidden="true" decoding="async" width="25" height="25">
         </button>
      </div>

  <nav role="navigation">

  <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>

   <div class="nav-ul-wrapper">
    <ul class="nav-ul">
        {% set navPages = collections.all | eleventyNavigation %}
        <!-- Loop through all pages with a eleventyNavigation in the frontmatter -->
        {% for entry in navPages %}

          <li>
            <a href="{{entry.url}}" class="{% if entry.url == page.url %} cs-active {% endif %}">{{entry.key}}</a>
          </li>

        {% endfor %}

      </ul>

        {# contact button #}

      <a href="/contact" class="cs-button">Contact</a>

      </div>
  </nav>
</header>