---
layout: layouts/base.html 
stylesheet: /css/blog.css
eleventyComputed:
    title: '{{ title }}'
    description: '{{ description }}'
    preloadImg: '{{ imgSrc }}'
    permalink: '/blog/{{ title | slug }}/index.html'
script: ''    
---


{# Hero section #}
{# <section id="hero">
   <div class="container">
       <h1>Article page</h1>
   </div>
</section> #}

<section id="main-content">
    <div class="container">

       <article>
       <!--Article Info-->
         <div class="article-group">
             <picture>
              <source media="(max-width: 600px)" srcset="{{ imgSrc }}"/>
              <source media="(min-width: 601px)" srcset="{{ imgSrc }}"/>

              <img src="{{ imgSrc }}" alt="{{ imgAlt }}" aria-hidden="true" height="" width="" decoding="async" loading="eager"/> 
            </picture>

            <h1>{{ title }}</h1>
            {# <p>{{ description }}</p> #}
            <p>{{ date | postDate}} - by {{ author }}</p>
            
         </div>
         
         <!-- Article content--> 
         <div class="blog-content">
               {{ content | safe }}
         </div>      
       </article>

       {# add share links* #}
    <div class="share-links">
         <p>Share</p>
         <div>
            <a href=""><img src="/assets/svgs/logo-facebook.svg" alt="" height="25" width="25" aria-hidden="true" decoding="async" loading="lazy"></a>
            <a href=""><img src="/assets/svgs/mail.svg" alt="" height="25" width="25" aria-hidden="true" decoding="async" loading="lazy"></a>
            <a href=""><img src="/assets/svgs/linkedin.svg" alt="" height="25" width="25" aria-hidden="true" decoding="async" loading="lazy"></a>
         </div>

    </div>

    
    </div>
<section>