---
layout: layouts/base.html 
stylesheet: /css/blog.css
eleventyComputed:
    title: '{{ title }}'
    description: '{{ description }}'
    preloadImg: '{{ image }}'
    permalink: '/blog/{{ title | slug }}/index.html'
---


{# Hero section #}
<section id="hero">
   <div class="container">
       <h1>Article page</h1>
   </div>
</section>

<section id="main-content">
    <div class="container">

       <article>
       <!--Article Info-->
         <div class="article-group">
            <h2>{{ title }}</h2>
            <p>{{ description }}</p>
            <span>by {{ author }}</span>
         </div>
         
         <!-- Article content--> 
         <div class="blog-content">
               {{ content | safe }}
         </div>      
       </article>

    </div>
<section>