---
title: 'Template 3 Blog'
description: 'Blog page'
preloadImg: ''
permalink: 'blog/'
eleventyNavigation:
   key: Blog 
   order: 400
layout: layouts/base.html
stylesheet:  ../css/blog.css    
---

{# hero section #}

<section id="hero">

<div class="container">
   <h1>Blog</h1>
</div>

{# tags* #}
</section>

{# Featured article #}
<section>
   <div class="container">
       <h2>Featured</h2>
       <article class="featured">
          {% include 'components/featured-post.html' %}
       </article>
   </div>
</section>

<section>
 <div class="container">

{% if collections.post | length == 0 %}
    <h2>No current posts</h2>
{% else %}
   {%- for post in collections.post | reverse -%}
     <article>
       <h3>{{ post.data.title }}</h3>

       <p>{{ post.data.description }}</p>

       <span>by {{ post.data.author }}</span>
       <span class="blog-date">{{ post.date | postDate }}</span>

       <a href="{{ post.url }}">Continue reading</a>
     
     </article>
   {%- endfor -%}

{% endif %}

  </div>
</section>

{% include 'components/cta.html' %}