---
title: 'Home Page Title'
description: 'Home page'
preloadImg: ''
permalink: '/'
eleventyNavigation:
   key: Home 
   order: 100
layout: layouts/base.html
stylesheet: css/home.css
script: '' 
---

{# Hero section #}

<section id="hero">

   <div class="container">
     {# add hero image #}
     
      <h1>{{ title }}</h1>
      <p>Lorem ipsum dolor sit amet, labore et dolore magna aliqua.</p>
      <a class="cs-button" href="/services">Get Started</a>

      <picture>
         <!-- Mobile image -->
          <source media="(max-width: 700px)" srcset="/assets/images/home-hero-m.webp"/>
         <!-- Desktop image --> 
          <source media="(min-width: 701px)" srcset="/assets/images/home-hero.webp"/>
         <!-- Fallback image -->
          <img src="/assets/images/home-hero.webp" alt="building" aria-hidden="true" decoding="async" width="1920" height="1200" loading="eager"/> 
      </picture>

   </div>   

</section>

{# Services section #}

<section id="services">
      <h2>Our services</h2>
     <div class="container">
            
        <div class="service-card">
           <img src="/assets/svgs/architecture.svg" height="60" width="60" alt="architecture icon" aria-hidden="true" decoding="async" loading="lazy"/>
           <h3>Service</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>

        <div class="service-card">
           <img src="/assets/svgs/engineering.svg" height="60" width="60" alt="engineering icon" aria-hidden="true" decoding="async" loading="lazy"/>
           <h3>Service</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>

        <div class="service-card">
           <img src="/assets/svgs/front_loader.svg" height="60" width="60" alt="front loader icon" aria-hidden="true" decoding="async" loading="lazy"/>
           <h3>Service</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>

     </div>
</section>

{# About section #}

<section id="about">

 <div class="container">

    <picture>
          <!-- Mobile image -->
          <source media="(max-width: 600px)" srcset="/assets/images/home-about-m.webp"/>
          <!-- Desktop image -->
          <source media="(min-width: 601px)" srcset="/assets/images/home-about.webp"/>

          <!-- Fallback image -->
          <img src="/assets/images/home-about.webp" alt="team member" aria-hidden="true" decoding="async" width="" height="" loading="lazy"/> 
      </picture>

  <div class="cs-text"> 
     {# <h2>About</h2> #}
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do mod tempor incididunt ut labore et dolore magna aliqua.</p>
     <a class="cs-button" href="/company">Meet our team</a>
  </div>

 </div> 

</section>

{# Why choose us #}

<section id="sbs">

   <div class="container">

      <div class="cs-text">
          <h2>Heading</h2>
          <p>Augue ut lectus arcu bibendum at varius. Suscipit tellus mauris a diam maecenas sed enim ut.</p>
      </div>

      <div class="info-container">

         <div class="info-detail">
           <img src="" alt="" alt="" aria-hidden="" decoding="" width="" height="" loading="">
           <h3>Info</h3>
           <p>Detail</p>
         </div>

         <div class="info-detail">
           <img src="" alt="" alt="" aria-hidden="" decoding="" width="" height="" loading="">
           <h3>Info</h3>
           <p>Detail</p>
         </div>

         <div class="info-detail">
           <img src="" alt="" aria-hidden="" decoding="" width="" height="" loading="">
           <h3>Info</h3>
           <p>Detail</p>
         </div>

         <div class="info-detail">
           <img src="" alt="" aria-hidden="" decoding="" width="" height="" loading="">
           <h3>Info</h3>
           <p>Detail</p>
         </div>

      </div>

   </div>

</section>

{# Extra content section #}

<section id="sbs-r">

  <div class="container">

   <div class="cs-text">
      <h2>Additional info</h2>

      <div class="info-item">
        <img src="/assets/svgs/arrow_right.svg" alt="arrow" width="30" height="30" aria-hidden="true" decoding="async" loading="lazy">
        <p>In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis.</p>
      </div>

      <div class="info-item">
        <img src="/assets/svgs/arrow_right.svg" alt="arrow" width="30" height="30" aria-hidden="true" decoding="async" loading="lazy">
        <p>In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis.</p>
      </div>

      <div class="info-item">
        <img src="/assets/svgs/arrow_right.svg" alt="arrow" width="30" height="30" aria-hidden="true" decoding="async" loading="lazy">
        <p>In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis.</p>
      </div>

   </div>

   <picture>
          <!-- Mobile image -->
          <source media="(max-width: 600px)" srcset="/assets/images/info-m.webp"/>
          <!-- Desktop image -->
          <source media="(min-width: 601px)" srcset="/assets/images/info.webp"/>

          <!-- Fallback image -->
          <img src="/assets/images/info.webp" alt="happy worker" aria-hidden="true" decoding="async" width="" height="" loading="lazy"/> 
   </picture>

   </div>

</section>

{# Reviews #}

<section id="reviews">

   <div class="container">

      <h2>Reviews</h2>

     {# create review card for each review #}
      {% for review in reviews %}
         <div class="review">
            <div class="review-text">
             <p>{{ review.text }}</p>
            </div> 
             <div class="review-client">
                 <p>{{ review.client_name }}</p>
                 <p>{{ review.client_company }}</p>
             </div>
         </div>

      {% endfor %}

   </div>
</section>


<section id="recent-articles">

     <div class="container">

     <h2>Recent Articles</h2>

      {# loop over recent collection and create card for each post #}
      {%- for post in collections.recent | reverse -%}
      
       <div class="article">
         <picture>
           <!-- Mobile image -->
           <source media="(max-width: 600px)" srcset="{{ post.data.imgSrc }}"/>
           <!-- Desktop image -->
           <source media="(min-width: 600px)" srcset="{{ post.data.imgSrc }}"/> 
         
           <!-- Fallback image -->
           <img src="{{ post.data.imgSrc }}" alt="{{ post.data.imgAlt }}" aria-hidden="true" decoding="async" width="" height="" loading="lazy"/> 
        </picture>

         <div class="article-detail">
           <span>Topic</span>
           <span>{{ post.date | postDate }}</span>
           <h4>{{ post.data.title }}</h4>
           <a href="{{ post.url }}" class="article-link">
           <span>Read article</span> <img src="/assets/svgs/arrow_forward.svg" aria-hidden="true" decoding="async" width="15" height="15" loading="lazy"/>
           </a>
         </div> 
       </div>
       
    {%- endfor -%}

   </div>
</section>

{% include 'components/cta.html' %}