---
title: 'Template 3 Home'
description: 'Home page'
preloadImg: ''
permalink: '/'
eleventyNavigation:
   key: Home 
   order: 100
layout: layouts/base.html
stylesheet: css/home.css
script: '' 
---

{# Hero section #}

<section id="hero">

   <div class="container">
     {# add hero image #}
     
      <h1>{{ title }}</h1>
      <p>Lorem ipsum dolor sit amet, labore et dolore magna aliqua.</p>
      <a class="cs-button">Get Started</a>

      <picture>
          <source srcset="/assets/images/home-hero.webp"/>

          <img src="/assets/images/home-hero.webp"> 
      </picture>

   </div>   

</section>

{# Services section #}

<section id="services">
     <div class="container">

        <div class="service-card">
           <img src="/assets/svgs/architecture.svg" height="50" width="50">
           <h3>Service</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>

        <div class="service-card">
           <img src="/assets/svgs/engineering.svg" height="50" width="50">
           <h3>Service</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>

        <div class="service-card">
           <img src="/assets/svgs/front_loader.svg" height="50" width="50">
           <h3>Service</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>

     </div>
</section>

{# About section #}

<section id="about">

 <div class="container">

    <picture>
          <source srcset="/assets/images/home-about.webp"/>

          <img src="/assets/images/home-about.webp"> 
      </picture>

  <div class="cs-text"> 
     <h2>About</h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do mod tempor incididunt ut labore et dolore magna aliqua.</p>
     <a class="cs-button" href="/company">Meet our team</a>
  </div>

 </div> 

</section>

{# Why choose us #}

<section id="sbs">

   <div class="container">

      <div class="cs-text">
          <h2>Heading</h2>
          <p>Augue ut lectus arcu bibendum at varius. Suscipit tellus mauris a diam maecenas sed enim ut.</p>
      </div>

      <div class="info-container">

         <div class="info-detail">
           <img src="" alt="">
           <h3>Info</h3>
           <p>Detail</p>
         </div>

         <div class="info-detail">
           <img src="" alt="">
           <h3>Info</h3>
           <p>Detail</p>
         </div>

         <div class="info-detail">
           <img src="" alt="">
           <h3>Info</h3>
           <p>Detail</p>
         </div>

         <div class="info-item">
           <img src="" alt="">
           <h3>Info</h3>
           <p>Detail</p>
         </div>

      </div>

   </div>

</section>

{# Extra content section #}

<section id="sbs-r">

  <div class="container">

   <div class="cs-text">
      <h2>Additional info</h2>

      <div class="info-item">
        <img src="/assets/svgs/arrow_right.svg" alt="" width="30" height="30">
        <p>In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis.</p>
      </div>

      <div class="info-item">
        <img src="/assets/svgs/arrow_right.svg" alt="" width="30" height="30">
        <p>In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis.</p>
      </div>

      <div class="info-item">
        <img src="/assets/svgs/arrow_right.svg" alt="" width="30" height="30">
        <p>In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis.</p>
      </div>

   </div>

   <picture>
          <source srcset="/assets/images/info.webp"/>

          <img src="/assets/images/info.webp"> 
   </picture>

   </div>

</section>

{# Reviews #}

<section id="reviews">

   <div class="container">

      <h2>Reviews</h2>

     {# create review card for each review #}
      {% for review in reviews %}
         <div class="review">
             <p>{{ review.text }}</p>
             <div>
                 <p>{{ review.client_name }}</p>
                 <p><{{ review.client_company }}</p>
             </div>
         </div>

      {% endfor %}

   </div>
</section>


<section id="recent-articles">

     <div class="container">

     <h2>Recent Articles</h2>

      {# loop over recent collection and create card for each post #}
      {%- for post in collections.recent | reverse -%}
      
       <div class="article">
         <picture>
          <source srcset="{{ post.data.imgSrc }}"/>

          <img src="{{ post.data.imgSrc }}"> 
        </picture>

         <div>
           <span>Topic</span>
           <span>{{ post.date | postDate }}</span>
           <h4>{{ post.data.title }}</h4>
           <a href="{{ post.url }}">Read article</a>
         </div> 
       <div>
       
    {%- endfor -%}

   </div>
</section>

{% include 'components/cta.html' %}