/*  STYLES FOR THE BLOG AND ARTICLE PAGES  */
/* HERO SECTIOM */
#hero {
    padding-top: 7em;
    padding-bottom: 0;

    h1 {
        color: var(--bodyTextColor);
        text-align: center;
        margin: 0;
    }
}

/* Desktop */
@media screen and (min-width: 1023px) {
    #hero {
        h1 {
            margin-top: 1em;
        }
    }
}


/* FEATURED POST */
#featured-post {
    padding-bottom: 0;

    .container {
        max-width: 1300px;

        h2 {
            border-bottom: 1px solid;
            padding-bottom: .5em;
            font-size: 1.2rem;
        }

        article {
            margin-top: 2em;
            display: flex;
            flex-direction: column;

            picture {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .post-details {
                max-width: 500px;

                h3 {
                    font-size: 2rem;
                }

                a {
                    font-weight: 500;
                    font-size: 1.2rem;
                    transition: all .4s;

                    &:hover {
                        color: var(--secondary-500);
                    }
                }
            }
        }
    }
}

/* desktop */
@media screen and (min-width: 1023px) {
    #featured-post {
        .container {
            article {
                flex-direction: row;
                gap: 2em;
            }
        }
    }
}


/* RECENT POSTS */
#recent-posts {
    margin-bottom: 4em;

    .container {
        max-width: 1300px;

        h2 {
            border-bottom: 1px solid;
            padding-bottom: .5em;
            font-size: 1.2rem;
        }

        .card-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
            gap: 2em;
            justify-items: center;
            margin-top: 2em;

            article {
                width: 330px;
                padding: .5em;
                background-color: var(--grey-200);
                color: var(--grey-900);

                picture {
                    width: 100%;
                    height: 180px;
                    display: block;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .post-details {
                    padding: 0 1em 1em 1em;

                    h3 {
                        font-size: 1.4rem;
                    }

                    a {
                        font-weight: 500;
                        font-size: 1.1rem;
                        transition: all .4s;
                        color: var(--grey-900);

                        &:hover {
                            color: var(--secondary-500);
                        }
                    }
                }
            }
        }
    }
}

/* Desktop */
@media screen and (min-width: 1023px) {
    #recent-posts {
        .container {
            .card-container {
                grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
            }
        }
    }
}

/* ARTICLE PAGE */
#main-content {
    padding-top: 7em;

    .container {
        article {
            max-width: 900px;
            margin: auto;

            .article-group {
                margin-bottom: 7em;

                picture {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }

            .blog-content {
                h3 {
                    margin-top: 3em;
                }

                ul {
                    padding-left: 2em;
                }
            }
        }

        .share-links {
            margin: auto;
            margin-top: 2em;
            max-width: 900px;

            p {
                font-weight: 500;
            }

            div {
                display: flex;
                gap: .6em;
            }
        }
    }
}

@media screen and (min-width: 1023px) {
    #main-content {
        padding-top: 10em;
    }
}