/* STYLES FOR THE COMPANY PAGE */
/* HERO SECTION */
#hero {
    padding-top: 7em;
    padding-bottom: 1em;

    .container {
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;

        .cs-text {
            max-width: 450px;

            h1 {
                color: var(--bodyTextColor);
            }
        }

        picture {
            display: block;

            img {
                width: 100%;
                border-radius: 5px;
            }
        }
    }
}

/* Desktop */
@media screen and (min-width: 1023px) {
    #hero {
        padding-top: 12em;

        .container {
            flex-direction: row;
            justify-content: space-around;

            picture {
                max-width: 700px;
            }
        }
    }
}

/* VALUES SECTION */
#values {
    padding-bottom: 1em;

    .container {
        
        border-radius: 10px;

        h2 {
            margin-bottom: 2em;
            text-align: center;
        }

        .card-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1em;
            justify-items: center;
            max-width: 1300px;
            margin: auto;
            padding: 2em 0;
            border-radius: 10px;

            .value-card {
                border: 1px solid var(--primary-600);
                padding: 1em;
                border-radius: 5px;
                width: 300px;
            }
        }
    }
}

/* Desktop */
@media screen and (min-width: 1023px) {
    #values {
        .container {
            .card-container {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-areas: "value1 . value2"
                    ". value3 ."
                    "value4 . value5 ";
                column-gap: 0;
                row-gap: 1em;

                .value-card {
                    &:nth-of-type(1) {
                        grid-area: value1;
                        justify-self: end;
                    }

                    &:nth-of-type(2) {
                        grid-area: value2;
                        justify-self: start;
                    }

                    &:nth-of-type(3) {
                        grid-area: value3;
                    }

                    &:nth-of-type(4) {
                        grid-area: value4;
                        justify-self: end;
                    }

                    &:nth-of-type(5) {
                        grid-area: value5;
                        justify-self: start;
                    }
                }
            }
        }
    }
}


/* OUR TEAM SECTION */
#our-team {
    padding-bottom: 7em;

    .container {
        max-width: 1300px;

        h2 {
            margin-bottom: 2em;
            text-align: center;
        }

        .card-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
            justify-items: center;
            gap: 2em;

            .team-member {
                width: 330px;
                display: flex;
                flex-direction: column;

                img {
                    width: 100%;
                }

                div {
                    padding: .5em 1.2em;
                    background-color: var(--grey-200);
                    color: var(--secondary-900);
                }
            }
        }
    }
}