/* STYLES FOR THE CONTACT PAGE */

#hero {
    padding-top: 7em;

    .container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        place-content: center;
        gap: 4em;
        max-width: 1300px;

        .cs-text {
            max-width: 450px;
        }

        .contact-details {
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-width: 550px;

            .item {
                display: grid;
                grid-template-columns: .4fr 1fr 2fr;
                gap: .7em;
                align-items: center;

                svg {
                    fill: var(--primary-600);
                }

                span:nth-of-type(1) {
                    font-weight: 500;
                }

                span:nth-of-type(2) {
                    font-size: 1.2rem;
                }
            }
        }

        form {
            padding: 1em;
            display: flex;
            flex-direction: column;
            gap: 1.6em;
            min-width: 90%;

            border-radius: 10px;

            div {
                display: flex;
                flex-direction: column;
                gap: .7em;

                label {
                    font-size: 1.1rem;
                }

                input,
                textarea {
                    padding: .5em;
                    font: inherit;
                    border-radius: 5px;
                    border: 1px solid var(--secondary-200);
                }
            }

            button {
                font: inherit;
                font-weight: 500;
                background-color: var(--bodyBackgroundColor);
                border: 1px solid var(--primary-600);
                padding: .6em 1.2em;
                border-radius: 5px;
                display: inline-block;

                &:hover {
                    background-color: var(--primary-600);
                    color: var(--secondary-900);
                }
            }
        }
    }
}

/* tablet */
@media screen and (min-width: 520px) {
    #hero {
        .container {
            form {
                min-width: auto;
                width: 450px;
                justify-self: center;
            }
        }
    }
}

/* Desktop */
@media screen and (min-width: 1023px) {
    #hero {
        padding-top: 10em;

        .container {
            grid-template-areas: "text form"
                "contact-info form";
            grid-template-columns: 1fr 1fr;
            row-gap: 1em;

            .cs-text {
                grid-area: text;
            }

            .contact-details {
                grid-area: contact-info;

                .item {
                    gap: 1em;
                }
            }

            form {
                grid-area: form;
                border: 2px solid var(--grey-200);
                padding: 2em;
            }
        }
    }
}