/* STYLES FOR THE HOME PAGE */

/* HERO SECTION */
#hero {
    padding-top: 8em;
    position: relative;
    z-index: 1;
    height: 60vh;
    color: var(--grey-100);

    h1 {
        color: var(--grey-100);
    }

    p {
        width: 75%;
    }

    .cs-button {
        margin-top: 2em;
        border: 2px solid;
        border-color: var(--primary-600);
        color: var(--grey-50);
        background-color: transparent;
        padding: .8em 2em;
        transition: all .7s;

        &:hover {
            background-color: var(--primary-600);
            color: var(--secondary-900);
        }
    }

    picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover
        }
    }
}

/* tablet */
@media screen and (min-width: 1023px) {
    #hero {
        height: 90vh;
        padding-top: 15em;

        p {
            font-size: 1.1rem;
        }
    }
}

/* SERVICES SECTION */
#services {

    h2 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 2em;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5em;

        .service-card {
            text-align: center;
            max-width: 320px;
            padding: 1.5em;
            border-radius: 5px;
            border: 2px solid var(--grey-200);

            img {
                border-radius: 5px;
            }
        }
    }
}

/* desktop */
@media screen and (min-width: 1023px) {
    #services {
        padding: 4em 0;

        h2 {
            margin-bottom: 1.5em;
        }

        .container {
            flex-direction: row;
            gap: 2em;

            .service-card {
                h3 {
                    font-size: 1.3rem;
                }
            }
        }
    }
}


/* ABOUT SECTION */
#about {
    padding-top: 6em;

    .container {
        picture {
            max-width: 600px;

            img {
                width: 100%;
                border-radius: 5px;
            }
        }

        .cs-text {
            max-width: 500px;

            p {
                font-size: 1.2rem;
            }

            .cs-button {
                margin: 1em 0;
                background-color: transparent;
                border: 2px solid var(--primary-600);
                color: var(--bodyTextColor);

                &:hover {
                    background-color: var(--primary-600);
                    color: var(--secondary-900);
                }
            }
        }
    }
}

/* Desktop */
@media screen and (min-width: 1023px) {
    #about {
        padding-top: 10em;

        .container {
            display: flex;
            justify-content: center;
            gap: 4em;

            .cs-text {
                display: flex;
                flex-direction: column;

                p {
                    font-size: 1.8rem;
                    margin-top: 0;
                }

                .cs-button {
                    width: fit-content;
                }
            }
        }
    }
}

/* INFO DETAIL SECTION */
#sbs {
    background-color: var(--sectionBackgroundColor);

    .container {
        border-radius: 5px;
        padding: 2em 1em;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    
        .cs-text {
            max-width: 350px;

            h2 {
                text-align: center;
            }
        }

        .info-container {
            display: grid;
            grid-template-columns: 100px 100px;
            gap: 2em;
            justify-items: center;
            align-items: center;
            place-content: center;
            padding: 2em 5em;
            border-radius: 5px;

            .info-detail {
                width: 100%;
                text-align: center;
                border-radius: 5px;

                h3 {
                    margin-top: 0;
                    font-size: 2rem;
                }
            }
        }
    }
}

/* Desktop */
@media screen and (min-width: 1023px) {
    #sbs {
        .container {
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            gap: 0;

            .cs-text {
                h2 {
                    margin-top: 0;
                }

                text-align: center;
            }

            .info-container {
                margin-top: 0;
            }
        }
    }
}


/* ADDITIONAL INFO SECTION */
#sbs-r {
    .container {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;

        picture {
            max-width: 600px;
            order: -1;

            img {
                width: 100%;
                border-radius: 5px;

            }
        }

        .cs-text {
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-width: 500px;

            h2 {
                text-align: center;
            }


            .info-item {
                display: flex;
                gap: 1.5em;

                img {
                    border: 1px solid var(--secondary-200);
                    border-radius: 50%;
                    position: relative;
                    top: 5px;
                }

                p {
                    margin-top: 0;
                }
            }
        }
    }
}

/* Desktop */
@media screen and (min-width: 1023px) {
    #sbs-r {
        padding: 10em 0;

        .container {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 4em;

            picture {
                order: 1;
            }

            .cs-text {
                align-self: start;

                h2 {
                    margin-top: 0;
                }

                .info-item {
                    gap: 2em;
                }

                p {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

/* Larger screens */
@media screen and (min-width: 1299px) {
    #sbs-r {
        .container {
            gap: 6em;
        }
    }
}

/*  REVIEWS  */
#reviews {

    .container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 3em;

        h2 {
            text-align: center;
            margin-top: 0;
        }

        .review {
            border-radius: 5px;
            width: 300px;


            .review-text {
                border: 2px solid var(--grey-200);
                border-bottom: none;
                font-size: 1.05rem;
                padding: 1em;
                width: 100%;
                border-radius: 5px 5px 0 0;
            }

            .review-client {
                background-color: var(--surfaceColor);
                text-align: center;
                width: 100%;
                padding: 1em 0;
                border-radius: 0 0 5px 5px;
                color: var(--bodyBackgroundColor);

                p {
                    margin: 0;
                }

                p:nth-of-type(1) {
                    font-weight: 500;
                    margin-bottom: .5em;
                }
            }
        }
    }
}

/* Desktop */
@media screen and (min-width: 1023px) {
    #reviews {
        .container {
            grid-template-areas: "heading heading heading"
                "review1 review2 review3";
            grid-template-columns: 300px 300px 300px;
            place-content: center;

            h2 {
                grid-area: heading;
                margin-bottom: 0;
            }

            .review:nth-of-type(1) {
                grid-area: review1;
            }

            .review:nth-of-type(2) {
                grid-area: review2;
                position: relative;
                top: 1em;
            }

            .review:nth-of-type(3) {
                grid-area: review3;
                position: relative;
                top: 2em;
            }
        }
    }
}

/* Larger screens */
@media screen and (min-width: 1299px) {
    #reviews {
        .container {
            gap: 4em;
        }
    }
}

/* RECENT ARTICLES SECTION */
#recent-articles {
    padding-bottom: 7em;

    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3em;
        justify-items: center;

        h2 {
            text-align: center;
        }

        .article {
            width: 300px;
            box-shadow: 0px 4px 10px 0px var(--boxShadowColor);

            picture {
                height: 180px;
                width: 100%;
                display: block;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 2px 2px 0 0;
                }
            }

            .article-detail {
                border-radius: 0 0 2px 2px;
                padding: 1.5em;
                display: grid;
                grid-template-areas: "topic date"
                    "title title"
                    "link link";
                row-gap: 1.5em;

                span:nth-of-type(1) {
                    grid-area: topic;
                }

                span:nth-of-type(2) {
                    grid-area: date;
                    justify-self: end;
                }

                h4 {
                    margin: 0;
                    grid-area: title;
                    font-size: 1.3rem;
                }

                .article-link {
                    grid-area: link;
                    display: flex;
                    align-items: center;
                    gap: .2em;
                    transition: all .2s;

                    &:hover {
                        gap: .3em;
                    }

                    img {
                        position: relative;
                        top: 1.4px;
                    }
                }
            }
        }
    }
}

/* Desktop */
@media screen and (min-width: 1023px) {
    #recent-articles {
        .container {
            grid-template-areas: "heading heading heading"
                "article1 article2 article3";
            grid-template-columns: 300px 300px 300px;
            column-gap: 2em;
            place-content: center;

            h2 {
                grid-area: heading;
            }

            .article:nth-of-type(1) {
                grid-area: article1;
            }

            .article:nth-of-type(2) {
                grid-area: article2;
            }

            .article:nth-of-type(3) {
                grid-area: article3;
            }
        }
    }
}

/* larger screens */
@media screen and (min-width: 1299px) {
    #recent-articles {
        .container {
            gap: 4em;
        }
    }
}