/* GENERAL STYLES AND STYLES FOR HEADER/NAVIGATION AND FOOTER */

/* VARIABLES */
:root {
    /* colors */
    /* primary */
    --primary-100: #FFF9C4;
    --primary-200: #FFF59D;
    --primary-300: #FFF176;
    --primary-400: #FFEE58;
    --primary-500: #FFEB3B;
    --primary-600: #FDD835;
    --primary-700: #FBC02D;

    /* secondary */
    --secondary-50: #ECEFF1;
    --secondary-100: #CFD8DC;
    --secondary-200: #B0BEC5;
    --secondary-300: #90A4AE;
    --secondary-400: #78909C;
    --secondary-500: #607D8B;
    --secondary-600: #546E7A;
    --secondary-700: #455A64;
    --secondary-800: #37474F;
    --secondary-900: #263238;

    /* blue */
    --blue-500: #1565C0;

    /* greys */
    --grey-50: #FAFAFA;
    --grey-100: #F5F5F5;
    --grey-200: #EEEEEE;
    --grey-300: #E0E0E0;
    --grey-400: #BDBDBD;
    --grey-500: #9E9E9E;
    --grey-600: #757575;
    --grey-700: #616161;
    --grey-800: #424242;
    --grey-900: #212121;

    /* color variables  */
    --bodyTextColor: var(--grey-900);
    --bodyBackgroundColor: var(--grey-50);
    --footerBackgroundColor: var(--grey-100);
    --boxShadowColor: var(--grey-200);
    --sectionBackgroundColor: var(--secondary-50);
    --surfaceColor: var(--secondary-600);

    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 4.2vw, 3.5rem);
    --headingFontSize: clamp(1.6rem, 3vw, 2.4rem);
    --bodyFontSize: 1rem;

    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

// FONTS
/* lato-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/lato-v24-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/lato-v24-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* DARK MODE STYLES */
html[data-theme='light'] {
    --bodyTextColor: var(--secondary-900);
    --bodyBackgroundColor: var(--grey-50);
    --footerBackgroundColor: var(--grey-100);
    --boxShadowColor: var(--grey-300);
    --sectionBackgroundColor: var(--secondary-50);
    --surfaceColor: var(--secondary-600);
}

html[data-theme='dark'] {
    --bodyTextColor: var(--grey-50);
    --bodyBackgroundColor: var(--secondary-900);
    --footerBackgroundColor: var(--grey-900);
    --boxShadowColor: var(--grey-900);
    --sectionBackgroundColor: var(--secondary-800);
    --surfaceColor: var(--grey-100);
}

/* GENERAL STYLES */
body,
html {
    font-size: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    color: var(--bodyTextColor);
    background-color: var(--bodyBackgroundColor);
    margin: 0;
}

h1 {
    font-size: var(--headerFontSize);
    font-weight: 900;
}

h2 {
    font-size: var(--headingFontSize);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Lato";
}

ul {
    padding: 0;
}

a,
button {
    text-decoration: none;
    color: var(--bodyTextColor);

    &:hover {
        cursor: pointer;
    }
}

/* buttons */
.cs-button {
    background-color: var(--primary-600);
    color: var(--secondary-900);
    border-radius: 2px;
    padding: .6em 1.2em;
    font-weight: 500;
    display: inline-block;
}

/* Hidden Screen reader skip nav button */
.skip {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1111111;
}

/* sections */
section {
    padding: clamp(3.75rem, 7.82vw, 6.25rem) 0;
}

/* section & footer container */
.container {
    width: 90%;
    margin: auto;
}


/* NAV STYLES */
#cs-navigation {
    width: 100vw;
    padding: 1em;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 10000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    &.cs-active {
        &:before {
            width: 100%;
            opacity: 1;
        }

        .nav-ul-wrapper {
            opacity: 1;
            transform: scaleX(1);
            transition-delay: 0.2s;
        }
    }

    .cs-toggle {
        /* 44px - 48px */
        width: clamp(2.75rem, 6vw, 3rem);
        height: clamp(2.75rem, 6vw, 3rem);
        margin: 0 0 0 auto;
        border-radius: calc(4 / 16 * 1rem);
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cs-active {
        .cs-line1 {
            top: 50%;
            transform: translate(-50%, -50%) rotate(225deg);
        }

        .cs-line2 {
            top: 50%;
            transform-origin: center;
            transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
        }

        .cs-line3 {
            bottom: 100%;
            opacity: 0;
        }
    }

    .cs-box {
        /* 24px - 28px */
        width: clamp(1.5rem, 2vw, 1.75rem);
        /* 14px - 16px */
        height: clamp(0.875rem, 1.5vw, 1rem);
        position: relative;
    }

    .cs-line {
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: var(--primary-600);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .cs-line1 {
        top: 0;
        transform-origin: center;
        transition: transform 0.5s, top 0.3s, left 0.3s;
        animation-duration: 0.7s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }

    .cs-line2 {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: top 0.3s, left 0.3s, transform 0.5s;
        animation-duration: 0.7s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }

    .cs-line3 {
        bottom: 0;
        transition: bottom 0.3s, opacity 0.3s;
    }

    .nav-ul-wrapper {
        height: 100vh;
        opacity: 0;
        background-color: var(--bodyBackgroundColor);
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: auto;
        right: 0;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: top right;
        transition: transform 0.4s, opacity 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4em;


        .nav-ul {
            margin: 0;
            padding: 0;
            width: 100vw;
            min-width: 40%;
            height: 40vh;
            display: flex;
            justify-content: end;
            flex-direction: column;
            align-items: center;
            gap: calc(20 / 16 * 1rem);

            li {
                text-align: center;
                list-style: none;
                width: 100%;
                margin-right: 0;

                a {
                    font-size: 1.2rem;
                }

                a:hover {
                    font-weight: 500;
                }

                .cs-active {
                    border-bottom: 2px solid var(--primary-600);
                    font-weight: 500;
                }

            }
        }
    }

    /* Dark mode toggle */
    .toggle-container {
        position: absolute;
        right: 5em;

        #theme-toggle {
            border: none;
            background-color: inherit;
        }

    }
}

/* desktop nav */
@media screen and (min-width: 1023px) {
    #cs-navigation {
        padding: 1.8em 4em;
        grid-template-columns: 1fr 1.7fr;

        .nav-ul-wrapper {
            position: static;
            height: auto;
            z-index: 1;
            transform: none;
            opacity: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1em;
            background-color: inherit;

            .nav-ul {
                height: 25px;
                width: auto;
                flex-direction: row;

                li {
                    a {
                        font-size: 1rem;
                    }
                }
            }
        }

        .cs-toggle {
            display: none;
        }

        .toggle-container {
            right: 12em;
        }
    }
}

/*  CTA STYLES  */
#cta {
    background-color: var(--secondary-500);
    color: var(--grey-100);
    text-align: center;

    .cs-button {
        margin-top: 1em;
        background-color: transparent;
        border: 2px solid var(--primary-600);
        color: var(--grey-50);

        &:hover {
            background-color: var(--primary-600);
            color: var(--secondary-900);
        }
    }
}

/* Desktop */
@media screen and (min-width: 1023px) {
    #cta {
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "heading text"
                "heading button";
            row-gap: 1em;

            h2 {
                grid-area: heading;
                justify-self: center;
                align-self: center;
            }

            p {
                grid-area: text;
                text-align: left;
                font-size: 1.2rem;
                width: 300px;
            }

            .cs-button {
                grid-area: button;
                width: fit-content;
                height: fit-content;
                margin: 0;
            }
        }
    }
}

/*  FOOTER STYLES  */
footer {
    background-color: var(--footerBackgroundColor);
    color: var(--bodyTextColor);
    padding: 4em 0;

    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5em;

        .company-info {
            text-align: center;
            padding-bottom: 2em;
        }

        .sitemap,
        .support-links {

            h3 {
                font-size: 1.2rem;
                margin-top: 0;
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: .8em;

                li {
                    a {
                        color: inherit;
                    }
                }
            }
        }

        .social-links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .8em;
            justify-self: start;
        }
    }
}

/* Desktop */
@media screen and (min-width: 1023px) {
    footer {
        .container {
            grid-template-areas: "logo sitemap support social";
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .company-info {
                grid-area: logo;
                align-self: center;
            }

            .sitemap {
                grid-area: sitemap;
                justify-self: center;
            }

            .support-links {
                grid-area: support;
                justify-self: center;
            }

            .social-links {
                grid-area: social;
                align-self: start;
                justify-self: end;
            }
        }
    }
}