/* STYLES FOR THE SERVICES PAGE */

/* HERO SECTION */
#hero {
    padding-top: 7em;
    padding-bottom: 1em;

    .container {
        display: flex;
        flex-direction: column;
        gap: 2em;
        max-width: 1300px;

        .cs-text {
            max-width: 550px;

            h1 {
                color: var(--bodyTextColor);
                margin-top: 0;
            }

            ul {
                padding-left: 2em;
                display: flex;
                flex-direction: column;
                gap: .5em;
            }
        }

        picture {
            max-width: 800px;
            display: block;

            img {
                width: 100%;
                border-radius: 5px;
            }
        }
    }
}

/* Desktop */
@media screen and (min-width: 1023px) {
    #hero {
        padding-top: 14em;
        padding-bottom: 7em;

        .container {
            flex-direction: row;
            align-items: center;
            gap: 3em;


            .cs-text {
                min-width: 370px;

                p,
                ul {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

/* PRICING SECTION */
#pricing {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 2em;

        h2 {
            text-align: center;
        }

        .product-card {
            padding: 1.5em;
            border-radius: 5px;
            max-width: 550px;

            .price {
                font-size: 1.8rem;
                font-weight: 600;
            }

            ul {
                padding-left: 2em;
                display: flex;
                flex-direction: column;
                gap: .7em;
                margin-top: 1.5em;

                li {
                    font-size: 1.1rem;
                }
            }

            .cs-button {
                width: 100%;
                text-align: center;
                margin-top: 1em;
            }

            &:nth-of-type(1) {
                background-color: var(--grey-200);
                color: var(--grey-900);
            }

            &:nth-of-type(2) {
                background-color: var(--secondary-700);
                color: var(--grey-100);
            }
        }
    }
}

/* Desktop */
@media screen and (min-width: 1023px) {
    #pricing {
        .container {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "heading heading"
                "card1 card2";
            column-gap: 2.5em;
            align-items: center;

            h2 {
                grid-area: heading;
            }

            .product-card {
                .price {
                    font-size: 2rem;
                }

                &:nth-of-type(1) {
                    grid-area: card1;
                    justify-self: end;
                }

                &:nth-of-type(2) {
                    grid-area: card2;
                    justify-self: start;
                }
            }
        }
    }
}

/* HOW IT WORKS SECTION */
#how-it-works {
    padding: 1em 0;

    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        max-width: 1300px;

        h2 {
            text-align: center;
        }

        .step-selection {
            display: flex;
            flex-direction: column;
            border: 2px solid var(--grey-100);
            padding: 1.5em;
            border-radius: 5px;
            gap: .6em;
            color: var(--grey-900);
            max-width: 400px;
            height: fit-content;

            button {
                border: none;
                background-color: var(--secondary-600);
                padding: 1em;
                font: inherit;
                font-size: 1.2rem;
                font-weight: 500;
                text-align: left;
                border-radius: 5px;
                transition: all .5s ease-in;
                color: var(--grey-50);
            }

            .cs-active {
                background-color: var(--primary-500);
                color: var(--secondary-700);
                box-shadow: 0px 4px 10px 0px var(--boxShadowColor);
            }
        }

        .step-display {
            padding: 1em;
            border-radius: 5px;
             border: 2px solid var(--grey-100);

            img {
                width: 100%;
                border-radius: 5px;
            }
        }
    }
}

/* Desktop */
@media screen and (min-width: 1023px) {
    #how-it-works {
        padding: 7em 0;

        .container {
            grid-template-areas: "heading heading"
                "selection display";
            grid-template-columns: 1fr 2fr;

            h2 {
                grid-area: heading;
            }

            .step-selection {
                grid-area: selection;
            }

            .step-display {
                grid-area: display;
                padding: 2em;

                p {
                    font-size: 1.1rem;
                }
            }
        }
    }
}


/* PORTFOLIO SECTION */
#portfolio {
    margin-bottom: 4em;

    .container {

        h2 {
            margin-bottom: 2em;
        }

        div {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: .7em;

            img {
                width: 100%;
            }
        }
    }
}